<div class="{{#if bg}}section--{{bg}}{{else}}section{{/if}}" id="{{id}}">
  <div class="wrap">
    <div class="app__container" data-carousel="container">

      <div class="app__content">
        <div class="app__title block-title--black">{{title}}</div>
        <div class="app__text">{{{text}}}</div>
        <div class="app__cta">

          {{#items}}
          <div class="app__cta-button" data-carousel="trigger" data-slide="{{inc @index}}">
            <div class="app__cta-icon">{{inc @index}}</div>
            <div class="app__cta-text">{{{cta}}}</div>
            <div class="app__cta-chevron">chevron_right</div>
          </div>
          {{/items}}

        </div>
      </div>

      <div class="app__image">
        <div class="app__image-device">
          <img src="{{bg-img}}">
        </div>

        {{#items}}
        <div class="app__image-screen" data-carousel="slide" data-slide="{{inc @index}}">
          <img src="{{bg-img}}">
        </div>
        {{/items}}

        <div class="app__steps steps__container">
          {{#items}}
          <div class="steps__item" data-carousel="trigger" data-slide="{{inc @index}}"></div>
          {{/items}}
        </div>

      </div>
    </div>
  </div>
</div>
