<div class="{{#if bg}}section--{{bg}}{{else}}section{{/if}} {{#if hidden}}section--hidden{{/if}}" id="{{id}}">
  <div class="wrap">
    <div class="card__container">

      {{#if title}}
      <div class="card__title block-title--black block-title--center">{{title}}</div>
      {{/if}}

      {{#items}}
      <div class="card__item--dark">
        <div class="areas__item-icon">
          <img alt="{{alt}}" src="{{icon}}">
        </div>
        <div class="card__item-title">{{title}}</div>
        <div class="card__item-text">{{{text}}}</div>
      </div>
      {{/items}}

    </div>
  </div>
</div>
