<div class="{{#if bg}}section--{{bg}}{{else}}section{{/if}} {{#if hidden}}section--hidden{{/if}}" id="{{id}}">
  <div class="wrap">
    <div class="breadcrumbs__container">

      {{#links}}
      <a class="breadcrumbs__item" href="{{url}}">{{name}}</a>
      {{/links}}

    </div>
  </div>
</div>
