<div class="{{#if bg}}section--{{bg}}{{else}}section{{/if}} {{#if hidden}}section--hidden{{/if}}" id="{{id}}">

  <div class="full-width-img--bg">
    <img src="{{bg-img}}">
  </div>

  <div class="wrap">
    <div class="download__container">

      {{#if subtitle}}
      <div class="download__subtitle">{{subtitle}}</div>
      {{/if}}

      <div class="download__title">{{{title}}}</div>

      {{#if text}}
      <div class="download__text">{{{text}}}</div>
      {{/if}}

      <div class="download__store-group">
        {{#stores}}
        <a class="download__store"  href="{{url}}">
          <img src="{{img}}" alt="{{alt}}">
        </a>
        {{/stores}}
      </div>

      {{#if cta.name}}
      <div class="download__cta">
        <a class="button__standard" href="{{cta.url}}">{{cta.name}}</a>
      </div>
      {{/if}}

    </div>
  </div>

</div>
