<div class="{{#if bg}}section--{{bg}}{{else}}section{{/if}}" id="{{id}}">

  <div class="wrap">
    <div class="card__container">

      {{#if title}}
      <div class="card__title block-title--black block-title--center">{{title}}</div>
      {{/if}}

      {{#items}}
      <div class="card__item--light card__item--flex-column card__item--target" data-link="{{cta.url}}">

        <div class="card__item-img">
          {{#if img}}
          <img alt="{{alt}}" src="{{img}}">
          {{/if}}
        </div>

        <div class="card__item-wrap">

          <div class="card__item-title">{{title}}</div>
          <div class="card__item-text">{{{text}}}</div>
          <div class="card__tags">
            {{#tags}}
            <div class="card__tags-item">{{this}}</div>
            {{/tags}}
          </div>
          <div class="card__item-cta">
            <a class="button__standard" href="{{cta.url}}">{{cta.name}}</a>
          </div>

        </div>
      </div>
      {{/items}}

    </div>
  </div>

</div>
