<header class="header__section" id="{{id}}">
  <div class="wrap">
    <div class="header__container">

      <div class="header__logo">
        <a href="/"><img alt="Sensor Focus Logo" src="{{logo}}"></a>
      </div>

      <div class="header__toggle" data-header="toggle">
        <a class="button__grey button__icon">menu</a>
      </div>

      <nav class="header__nav" data-header="nav">
        {{#nav}}
        <a class="nav-button" href="{{url}}">{{name}}</a>
        {{/nav}}
      </nav>

      {{#if cta.name}}
      <div class="header__cta">
        <a class="button__standard" href="{{cta.url}}">{{cta.name}}</a>
      </div>
      {{/if}}

    </div>
  </div>
</header>

<div class="header__static"></div>
