<div class="{{#if bg}}section--{{bg}}{{else}}section{{/if}} {{#if hidden}}section--hidden{{/if}}" id="{{id}}">
  <div class="wrap">
    <div class="idea__container">

      {{#items}}
      <div class="idea__item">
        <div class="idea__item-icon icon-border">{{icon}}</div>
        <div class="idea__item-text">{{{text}}}</div>
      </div>
      {{/items}}

    </div>
  </div>
</div>
