<div class="overlay__container" id="{{id}}">
  <div class="overlay__wrap">

    <div class="overlay__header">
      <div class="overlay__header-icon">{{icon}}</div>
      <div class="overlay__header-title">{{title}}</div>
      <div class="overlay__header-close">close</div>
    </div>

    <div class="overlay__content">
      {{#items}}

        <div class="overlay__item">
          <div class="card__item-title">{{title}}</div>
          <div class="card__item-text">{{text}}</div>

          {{#if features}}
          <div class="overlay__item-container">
            {{#features}}
            <div class="overlay__item-wrap card__item--flex-row">
              <div class="icon-border">{{icon}}</div>
              <div class="card__item-inner-wrap">
                <div class="card__item-inner-title">{{{title}}}</div>
                <div class="card__item-inner-text">{{{text}}}</div>
              </div>
            </div>
            {{/features}}
          </div>
          {{/if}}

          {{#if lists}}
          <div class="overlay__item-container">
            {{#lists}}
            <div class="overlay__item-wrap card__item--flex-row">
              <div class="icon-border">{{icon}}</div>
              <div class="card__item-inner-wrap">
                <div class="card__item-inner-title">{{{title}}}</div>
                <div class="card__item-inner-text">{{{text}}}</div>

                <ul class="overlay__list">
                  {{#items}}
                  <li class="overlay__list-item">{{text}}</li>
                  {{/items}}
                </ul>

              </div>
            </div>
            {{/lists}}
          </div>
          {{/if}}

          {{#if images}}
          <div class="overlay__item-container">
            {{#images}}
            <div class="overlay__item-wrap card__item--flex-column">
              <div class="card__item-inner-title">{{title}}</div>
              <div class="card__item-inner-text overlay__item-grow">{{text}}</div>
              <img class="overlay__image" src="{{url}}">
            </div>
            {{/images}}
          </div>
          {{/if}}

        </div>

      {{/items}}
    </div>

  </div>
</div>

<script>
  $(function() {

    // Event handler
    $('.overlay__container').click(function(e) {
      if ( $(e.target).hasClass('overlay__container') || $(e.target).hasClass('overlay__header-close') ) {
        $(e.target).closest('.overlay__container').removeClass('overlay__container--active');
        $('body').css('overflow', 'auto');
      }
    });

  });
</script>
