<div class="{{#if bg}}section--{{bg}}{{else}}section{{/if}} {{#if hidden}}section--hidden{{/if}}" id="{{id}}">
  <div class="wrap">
    <div class="card__container">

      {{#if title}}
      <div class="card__title block-title--black block-title--center">{{title}}</div>
      {{/if}}

      {{#if text}}
      <div class="newsletter__text">{{{text}}}</div>
      {{/if}}

      {{#if cta.name}}
      <form class="newsletter__form" action="{{cta.url}}">
        <div class="newsletter__input-wrap">
          <input class="newsletter__input" type="email" name="email" placeholder="{{cta.placeholder}}" required>
          <span class="newsletter__msg newsletter__msg-success">{{cta.success}}</span>
          <span class="newsletter__msg newsletter__msg-error">{{cta.error}}</span>
        </div>
        <button class="button__standard" type="submit">{{cta.name}}</button>
      </form>
      {{/if}}

    </div>
  </div>
</div>
