<div class="{{#if bg}}section--{{bg}}{{else}}section{{/if}} {{#if hidden}}section--hidden{{/if}}" id="{{id}}">

  <div class="wrap">
    <div class="card__container">

      {{#if title}}
      <div class="card__title block-title--black block-title--center">{{title}}</div>
      {{/if}}

      {{#items}}
      <div class="card__item--light card__item--flex-column">

        <div class="card__price">
          <div class="card__price-title">
            <span class="card__price-subtitle">{{before}}</span>{{price}}<span class="card__price-subtitle">{{after}}</span>
          </div>
          <div class="card__price-caption">{{caption}}</div>
        </div>

        <div class="card__item-wrap">

          {{#if title}}
          <div class="card__item-title">{{title}}</div>
          {{/if}}

          <div class="card__item-text">{{{text}}}</div>
          <div class="card__item-cta">
            <a class="{{#if cta.disabled}}button__disabled{{bg}}{{else}}button__standard{{/if}}" {{#if cta.url}}href="{{cta.url}}"{{/if}}>{{cta.name}}</a>
          </div>

        </div>

      </div>
      {{/items}}

      {{#if footnote}}
      <div class="card__footnote">{{footnote}}</div>
      {{/if}}

    </div>
  </div>
</div>
