<div class="{{#if bg}}section--{{bg}}{{else}}section{{/if}}" id="{{id}}">
  <div class="wrap">
    <div class="screens__container" data-carousel="container">

      {{#if title}}
      <div class="screens__content">
        <div class="card__title block-title--black block-title--center">{{title}}</div>
        <div class="card__item-text">{{{text}}}</div>
      </div>
      {{/if}}

      <div class="screens__image">

        {{#items}}
        <div class="screens__image-screen" data-carousel="slide" data-slide="{{inc @index}}">
          <div class="screens__image-device">
            <div class="screens__image-device-dot"></div>
            <div class="screens__image-device-dot"></div>
            <div class="screens__image-device-dot"></div>
          </div>
          <img src="{{bg-img}}">
        </div>
        {{/items}}

        <div class="screens__steps steps__container">
          {{#items}}
          <div class="steps__item" data-carousel="trigger" data-slide="{{inc @index}}"></div>
          {{/items}}
        </div>

      </div>

      <!-- <div class="screens__cta">

        {{#items}}
        <div class="screens__cta-button" data-carousel="trigger" data-slide="{{inc @index}}">
          <div class="screens__cta-text">{{cta}}</div>
        </div>
        {{/items}}

      </div>

      <div class="screens__description">

        {{#items}}
        <div class="screens__description-item card__item-text" data-carousel="text" data-slide="{{inc @index}}">{{{text}}}</div>
        {{/items}}

      </div> -->
    </div>
  </div>
</div>
