<div class="{{#if bg}}section--{{bg}}{{else}}section{{/if}} {{#if hidden}}section--hidden{{/if}}" id="{{id}}">
  <div class="wrap">
    <div class="card__container">

      {{#if title}}
      <div class="card__title block-title--black block-title--center">{{title}}</div>
      {{/if}}

      {{#items}}
      <div class="card__item--dark">
        <div class="icon-fill">{{icon}}</div>
        <div class="card__item-subtitle">{{title}}</div>
        <div class="card__item-text">{{{text}}}</div>
      </div>
      {{/items}}

      {{#if cta.name}}
      <div class="card__cta">
        <a class="button__standard" href="{{cta.url}}">{{cta.name}}</a>
      </div>
      {{/if}}

    </div>
  </div>
</div>
