<div class="{{#if bg}}section--{{bg}}{{else}}section{{/if}} {{#if hidden}}section--hidden{{/if}}" id="{{id}}">
  <div class="wrap">
    <div class="testimonials__container" data-carousel="container">

      {{#items}}
      <div class="testimonials__wrap" data-carousel="slide" data-slide="{{inc @index}}">
        <div class="testimonials__item">

          <img class="testimonials__item-avatar" src="{{img}}">
          <div class="testimonials__inner-wrap">
            <div class="testimonials__item-text">{{text}}</div>
            <div class="testimonials__item-user">
              <div class="testimonials__item-separator"></div>
              <div class="testimonials__item-name">{{name}}</div>
              <div class="testimonials__item-position">, {{position}}</div>
            </div>
          </div>

        </div>
      </div>
      {{/items}}

      <div class="testimonials__steps steps__container">
        {{#items}}
        <div class="steps__item" data-carousel="trigger" data-slide="{{inc @index}}"></div>
        {{/items}}
      </div>

    </div>
  </div>
</div>
